chromadb==1.4.1
fastapi==0.128.0
langchain_community==0.4.1
langchain_core==1.2.7
langchain_huggingface==1.2.0
langchain_ollama==1.0.1
langchain_text_splitters==1.1.0
pydantic==2.12.5
python-dotenv==1.2.1
sentence-transformers==5.2.0
torch==2.9.1