@import "tailwindcss";
@import "tw-animate-css";

Scrollbar Styling 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


* {
  scrollbar-width: thin;
  scrollbar-color: #333 #000;
}

body {
  @apply bg-gradient-to-br from-black via-gray-900 to-black text-gray-300;
  min-height: 100vh;
} 